<div class="wrapper">
  <div class="page-header" style="background-image: url(<%= asset_path 'login-image.jpg' %>);">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
          <div class="card card-register">
            <h3 class="title">Sign Up</h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'register-form'}) do |f| %>
            <%= devise_error_messages! %>
            <%= f.label "Enter Email" %><br/>
            <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'Eg bob@safaricom.co.ke' %>

            <%= f.label "Enter username" %><br/>
            <%= f.text_field :username, class:'form-control', placeholder:'Eg bob' %>

            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:'form-control' %>

            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>

            <%= f.submit "Sign Up" ,class:"btn btn-danger btn-block btn-round"%>
            <% end %>

            <div class="forgot">
              <%= link_to "Already have an account? Log In", new_session_path(resource_name), class:'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;
          2017, made with
          <i class="fa fa-heart heart"></i>
          by <a target="_blank" href="http://instagram.com/c_h_____">bigzoo</a></h6>
      </div>
    </div>
  </div>
</div>
