<% if devise_error_messages! %>
<div class="alert alert-danger">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon">X</i>
    </button>
    <span><%= devise_error_messages! %></span>
  </div>
</div>
<%end%>
<div class="wrapper">
  <div class="page-header" style="background-image: url(<%= asset_path 'login-image.jpg' %>);">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
          <div class="card card-register">
            <h3 class="title">Change Your Password</h3>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method:'put', class:'register-form' }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <%= f.label 'New Password'%>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true,class:'form-control', autocomplete: "off" %>

            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "off" %>
            <%= f.submit "Change Password" ,class:"btn btn-danger btn-block btn-round"%>
            <% end %>
            <div class="forgot">
              <%= link_to 'Login', new_user_session_path, class:'btn btn-link btn-danger'%>
              <%= link_to 'Sign Up', new_user_registration_path, class:'btn btn-link btn-danger'%>
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy; 2017, made with
          <i class="fa fa-heart heart"></i>
          by
          <a target="_blank" href="http://instagram.com/c_h_____">bigzoo</a>
        </h6>
      </div>
    </div>
  </div>
</div>
