<% content_for(:title) do%>Private Messenger<% end%>
<% content_for(:description) do%>Send a Private Message Today!<%end%>
<% content_for(:metas) do%>
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Private Messenger">
<meta name="twitter:title" content="Private Messenger">
<meta name="twitter:description" content="Send a Private Message Today!">
<meta name="twitter:creator" content="Private Messenger">
<meta name="twitter:image" content="<%= asset_path 'private.jpg' %>">

<!-- Open Graph data -->
<meta property="og:title" content="Private Messenger"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="<%= asset_path 'private.jpg' %>"/>
<meta property="og:description" content="Send a Private Message Today!"/>
<meta property="og:site_name" content="Private Messenger"/>
<%end%>
<div class="wrapper">
  <div class="filter"></div>
</div>
<div class="section profile-content">
  <div class="container">
    <div class="owner">
      <div class="name">
        <h4 class="title">Anonymous User<br/></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <br/>
        <%= link_to ("<i class='fa fa-cog'></i>Settings").html_safe, edit_user_registration_path, class:'btn btn-outline-default btn-round'%>
      </div>
    </div>
    <br/>
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#recieved" role="tab">Recieved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sent" role="tab">Sent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#favorites" role="tab">Favorites</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content following">
      <div class="tab-pane active" id="recieved" role="tabpanel">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ul class="list-unstyled follows">
              <%if @user.messages.any?%>
              <% @user.messages.order('id ASC').reorder('created_at DESC').each do |message|%>
              <li>
                <div class="row">
                  <div class="col-md-7 col-xs-4">
                    <h6><%= message.message%><br/>
                      <small>
                        <%if message.hint%>
                        <%= message.hint%>
                        <%else%>
                        No Hint :(
                        <%end%>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age:
                        <%= distance_of_time_in_words(message.created_at, DateTime.current)%></small>
                      <%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, favorite_path(message:message.id)%>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, message_path(message), data:{confirm:'Are You Sure You Want To Delete It?'}, method:'delete'%>
                    </h6>
                  </div>
                </div>
              </li>
              <hr/>
              <% end %>
            <% else %>
            <div class="text-center">
              <h3 class="text-muted"><a href="<%=root_path%><%=@user.username%>"><%=root_path%><%=@user.username%></a></h3>
              <a target="_blank" href="<%=root_path%><%=@user.username%>" class="btn btn-warning btn-round"><i class="fa fa-share-alt"></i>Share Link Now</a>
            </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane text-center" id="sent" role="tabpanel">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ul class="list-unstyled follows">
              <%if @sent.any?%>
              <% @sent.order('id ASC').reorder('created_at DESC').each do |message|%>
              <li>
                <div class="row">
                  <div class="col-md-7 col-xs-4">
                    <h6><%= message.message%><br/>
                      <small>
                        <%if message.hint%>
                        <%= message.hint%>
                        <%else%>
                        No Hint :(
                        <%end%>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age:
                        <%= distance_of_time_in_words(message.created_at, DateTime.current)%>
                      </small>
                      <%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, favorite_path(message:message.id)%>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, message_path(message), data:{confirm:'Are You Sure You Want To Delete It?'}, method:'delete'%>
                    </h6>
                  </h6>
                </div>
              </div>
            </li>
            <hr/>
            <% end %>
          <% else %>
            <h3 class="text-muted">No Messages Sent yet :(</h3>
            <a data-toggle="tab" href="#recieved" role="tab" class="btn btn-warning btn-round">Send One</a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane text-center" id="favorites" role="tabpanel">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <ul class="list-unstyled follows">
            <%if @favorites.any?%>
            <% @favorites.order('id ASC').reorder('created_at DESC').each do |message|%>
            <li>
              <div class="row">
                <div class="col-md-7 col-xs-4">
                  <h6><%= message.message%><br/>
                    <small>
                      <%if message.hint%>
                      <%= message.hint%>
                      <%else%>
                      No Hint :(
                      <%end%>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age:
                      <%= distance_of_time_in_words(message.created_at, DateTime.current)%>
                    </small>
                    <%= link_to "<i class='fa fa-heart' aria-hidden='true'></i>".html_safe, favorite_path(message:message.id)%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, message_path(message), data:{confirm:'Are You Sure You Want To Delete It?'}, method:'delete'%>
                  </h6>
                </h6>
              </div>
            </div>
          </li>
          <hr/>
          <% end %>
        <% else %>
          <h3 class="text-muted">No Favorites yet :(</h3>
          <a data-toggle="tab" href="#recieved" role="tab" class="btn btn-warning btn-round">Add One</a>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<!-- <footer class="footer section-dark">
<div class="container">
  <div class="row">
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">Creative Tim</a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">Blog</a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">Licenses</a>
        </li>
      </ul>
    </nav>
    <div class="credits ml-auto">
      <span class="copyright">
        © 2017, made with
        <i class="fa fa-heart heart"></i>
        by
        <a target="_blank" href="http://instagram.com/c_h_____">bigzoo</a>
      </span>
    </div>
  </div>
</div>
</footer> -->
